body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.info-section,
.quote-section,
.cta-section,
.footer {
    padding: 0px 150px;
}

.header,
.footer {
    display: flex;
    flex: 1 100px;
    align-items: center;
    background: #1F2937;
}

.hero,
.info-section,
.quote-section,
.cta-section {
    display: flex;
    flex: 2 400px;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
    color: #E5E7EB;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    font-weight: bolder;
}

.header .header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    align-items: center;
    background: #1F2937;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #E5E7EB;
}

.hero .hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    font-style: bold;
    color: #F9FAF8;

}

.hero .hero-subtext {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .hero-image {
    display: flex;
    height: 300px;
    width: 800px;
    background-color: #E5E7EB;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.info-section {
    flex-direction: column;
    justify-content: center;
}

.container-info {
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.container-info .info {
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-placeholder {
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 10%;
    border-color: #3882F6;
    border-width: thick;
}

.quote-section {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background: #E5E7EB;
    padding: 0px 300px;
}

.quote-section .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-section .quotee {
    display: flex;
    justify-content: flex-end;
}

.cta-box {
    display: flex;
    flex: 1;
    padding: 50px;
    background: #3882F6;
    justify-content: space-between;
    align-items: center;
}


